 .u-section-1 {
  background-image: url("images/b7804190-23ce-9975-427a-b4551eb1da62.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  width: 610px;
  margin: 364px auto 0;
}

.u-section-1 .u-form-1 {
  height: 158px;
  width: 624px;
  margin: 143px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 9px 0 11px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  line-height: 1.8;
  text-transform: none;
  width: 589px;
  margin: 147px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 576px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 396px;
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 288px;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}