<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Blobo online store!</h1>
            <p>Blobo is a brand new online store in the marketplace. But even in such a short period of time, we were able to gain your trust. It's all about the quality, availability and speed of the services provided.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Kitchen utensils</h2>
                <p>We use kitchen utensils in our everyday life. They always break, lose their gloss, or simply require a new purchase.</p>
            </div>
        <div class="col-md-4">
            <h2>Toys</h2>
            <p>Toys are our reliable friends. You can share any secret with them and pass the time well.</p>
        </div>
        <div class="col-md-4">
            <h2>Bags and clothes</h2>
            <p>Bags and clothes, something that we cannot practically live without. It's always nice to update your wardrobe with stylish things.</p>
        </div>
    </div>
</div>