@model GoodsListViewModel

<h2>@Model.CurrentCategory</h2>
<div class="row mt-5 mb-2">
  @{
    if(@Model.AllGoods.Count() == 0)
    {
      <h3>Good not found</h3>
    }
    foreach(Good good in Model.AllGoods)
    {
        @Html.Partial("AllGoods", good);
    } 
  }
</div>